---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content p, .page__content li, .page__content dl {
    font-size: 0.9em;
}

.author__avatar img {
    max-width: 150px;
    border-radius: 50%;
}

.site-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: bold;
    font-size: $type-size-5;
    // z-index: 20;
  }

  .site-subtitle {
    display: block;
    font-weight: normal;
    font-size: $type-size-6;
  }