---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content p, .page__content li, .page__content dl {
    font-size: 0.7em;
}

.author__avatar img {
    max-width: 150px;
    border-radius: 50%;
}

.site-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: bold;
    font-size: $type-size-5;
    color:black;
    // z-index: 20;
  }

  .site-subtitle {
    display: block;
    font-weight: normal;
    font-size: $type-size-6;
    color:darkred;
  }

  a {
    margin: 0;
    padding: 5px 5px;
    font-size: $type-size-5;

    &:hover {
      color: $masthead-link-color-hover;
      background: $navicon-link-color-hover;
    }
  }

  .page__title {
    margin-top: 0;
    line-height: 1;
    font-size: $type-size-2;
}

.page__title {
  margin-top: 0;
  line-height: 1;
  font-size: 1.5em;
}

.greedy-nav .visible-links {
  font-size: 0.70em;
}

.page__subtitle{
  border-bottom: 1px solid $light-gray;
  font-size: $type-size-5;
  color: $gray;
  padding-bottom: $type-size-5;
}